<!DOCTYPE html>
<html lang="en">
  <head>
    

    <title>Stopwords</title>

    <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <style>

.word{
 background:#b3e5fc;color:#264409;border-color:#b3e5fc;
  padding:.1em;margin:0.2em;border:2px solid #b3e5fc;
  display: inline-block;
}
.stop{
   background:#ef5350;color:#FFFFFF;border-color:#ef5350;
  padding:.1em;margin:0.2em;border:2px solid #ef5350;
  display: inline-block;
}
</style>

  </head>

  <body>
{% include "navbar.html" %}

   
<div class="row">
  
  <form class="col s12" action="/stopwords/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
    {% include "input_content.html" %} 
     <button class="btn waves-effect waves-light" type="submit" name="action">Remove Stop Words
    <i class="mdi-content-send right"></i>
  </button>
  </form>
</div>



   
     
       {%if stopwords %}
    {{stop_words_rem_count}} stopword removed and {{words_count}} left.
      <ul>
    {%for i in stopwords %}
   <li class="word"> {{i}}</li>
    {%endfor%}
  </ul>
  {%endif%}
   {%if words_remv %}
     <!-- style="text-decoration:line-through" -->
      <ul>
    {%for i in words_remv %}
   <li class="stop"> {{i}}</li>
    {%endfor%}
  </ul>
  {%endif%}
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../static/materialize/js/materialize.min.js"></script>
  </body>
</html>
