<!DOCTYPE html>
<html lang="en">
  <head>
  
    <title>Suggest</title>

    <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>

    <script type="text/javascript" src="../static/jquery.js"></script>
  <script type="text/javascript" src="../static/materialize/js/materialize.min.js"></script>
      <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  
  <script>
  $(document).ready(function() {
    $('select').material_select();
  });
  </script>
  <style>
  #main_content{
   margin-left:5%;
   margin-right:5%;
}
  </style>
  </head>

  <body >
{% include "navbar.html" %}

<div id="main_content">

  <form class="col s12" action="/suggest/" method="POST">
      {% csrf_token %}
    <!-- <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" name="input_text"></textarea>
        <label for="textarea1">Input sentence here</label>
      </div>
    </div> -->

    
  <div id="select" class="section scrollspy">
        
        <div class="row">
          <form class="col s12 m6">
            <div class="row">
              <div class="input-field col s12">
                <select id="select1" name="input_text">
                  <option value="" disabled selected>अपना विकल्प चुने</option>
                  <option value="business">व्यापार</option>
                  <option value="entertainment">मनोरंजन</option>
                  <option value="sports">खेल</option>
                  <option value="national">राष्ट्रीय</option>
                  <option value="international">अंतरराष्ट्रीय</option>
                </select>
                <!-- <label>Materialize Select</label> -->
              </div>
              
            </div>
     <button class="btn waves-effect waves-light" type="submit" name="action">Suggest
    <i class="mdi-content-send right"></i>
  </button>
  </form>
  <br/>

   {%if your_choice%}
आपन॓ चुना <b>{{your_choice}}</b> समाचार।
{%endif%}
<div class="row">
   {% for i,j in news %}

        <div class="col s6 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"> <a href='{{i.url}}' target='_blank'>{{i.headline}}</a></span><br/>
             Posted : {{i.pub_date}} <br/>
              <p>{{i.content}}</p>
            </div>
           
          </div>
        </div>




   

   
   
   {%endfor%}
      </div>
    </div>
  </body>
</html>
