<!DOCTYPE html>
<html lang="en">
  <head>
   
    <title>Tokenizer</title>

    <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
<style>
.sentence{
  background:#c8e6c9;color:#1b5e20;border-color:#c8e6c9;
  padding:.1em;margin-bottom:0.6em;border:2px solid #c8e6c9;
 
}
.tokens{
  background:#c8e6c9;color:#1b5e20;border-color:#c8e6c9;
  padding:.1em;margin-bottom:0.6em;border:2px solid #c8e6c9;
  display: inline-block;
}
#main_content{
   margin-left:5%;
   margin-right:5%;
}
</style>

  <body>
{% include "navbar.html" %}
<div id="main_content">
<div class="row">
  <form class="col s12" action="/tokenizer/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
  {% include "input_content.html" %} 
     <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Tokenize
    <i class="mdi-content-send right"></i>
  </button>
  </form>
</div>

   
      {%if sentence%}
     <b> Sentence Tokenizer</b><br/> 
   दिये गए इनपुट में <b>{{scount}}</b> वाक्य पाय॓ गए ।
      <ul>
    {%for i in sentence%}
   <li class='sentence'> {{i}}</li>
    {%endfor%}
  </ul>
  {%endif%}
  <br/><br/>
   {%if tokens %}
    <b> Space Tokenizer</b><br/> 
 दिये गए इनपुट में <b>{{tcount}}</b> टोकन पाय॓ गए ।
      <ul>
    {%for i in tokens%}
   <li class="tokens"> {{i}}</li>
    {%endfor%}
  </ul>
  {%endif%}
</div>
  <script type="text/javascript" src="../static/jquery.js"></script>
  <script type="text/javascript" src="../static/materialize/js/materialize.min.js"></script>
  </body>
</html>
